<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 150px);">
  <div class="card p-3">
    <h3 class="text-center">Edit author</h3>
    <%= render "form", author: @author %>
    <br>
  </div>
</div>
